<body>
<!--header of main page of this -->
    <div class="header-premeir-lg-cw">
    <!--header of main page of this -->
        <div class="cont-of-plb">
        <!--header of main page of this -->
            <nav>

            <!--navigating-->
            <div style="text-align:center">

            <!--links of header-->
                <a href="/home">Home</a>
                <!--links of header-->
                <!--links of header-->
                <a href="/club">Club</a>
                <!--links of header-->
                <a href="/match">Match</a>
                <!--links of header-->
                <a href="/help">Help</a>
                <!--links of header-->
                <!--links of header-->
                </div>
            </nav>
            <!--ending div-->
        </div>
    </div>
<!--footer of this page-->
    <div class="footer-premeir-lg-cw">

    <!--footer of this page- centering-->
        <div style="text-align:center"> Premeir League Manager - 2021</div>
   <!--footer of this page- centering-->
    </div>
</body>
   <!--routeting pages-->
<router-outlet></router-outlet>
