.tableForCwOfPL {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#outer
{
    width:100%;
    text-align: center;

}
button{
  background-color: #0091ad;
  border: none;
  color: white;
  border-style: solid;
  border: 3px solid #cfc6cc;
  border-radius: 9px;
  text-align: center;
  text-decoration: none;

  font-size: 20px;
}

.inLineForPLPOFTHIS
{

    display: inline-block;
}


h1{
  text-align:center;
  color: black;

}

th {
  background-color:#1c8560;
  color: white;
  text-align: left;
}

.tableForCwOfPL th,
.tableForCwOfPL td {
    padding: 12px 15px;
}

.tableForCwOfPL {
  border-bottom: 1px solid white;
}

.tableForCwOfPL  {
  background-color: white;
}

.tableForCwOfPL tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.tableForCwOfPL {
  font-weight: bold;
  color: #7a0b1c;
}

